* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family:'Times New Roman', Times, serif;

    font: size 100px;;

}





body {

    background color: pink

    background-size: cover;

    padding-top: 50px;

    height: 100vh;

    color: rgb(249, 242, 242);

    display: flex;

    flex-direction: column;

    align-items:flex-start;

    justify-content:left;

    text-align:right;

}





.overlay {

    background: rgba(0, 0, 0, 0.5); 

    width: 100%;

    height: 100vh;

    position: absolute;

    top: 0;

    left: 0;

}



.content {

   position: absolute;

   z-index: 1;

   left: 50px; 

   top: 50%;

   transform: translateY(-50%);

   text-align: left; 

   max-width: 600px; 

}









.navbar {

    position: fixed;

    top: 0;

    width: 100%;

    background: #333;

    padding: 25px 15%;

    display: flex;

    justify-content: space-between;

    align-items: center;

    z-index: 1000;

}

.navbar .logo {

    color: #ff6600;

    font-size: 1.5rem;

    font-weight: bold;

}

.navbar ul {

    list-style: none;

    display: flex;

}

.navbar ul li {

    margin: 0 15px;

}

.navbar ul li a {

    text-decoration: none;

    color: white;

    font-weight: bold;

    transition: 0.3s;

}

.navbar ul li a:hover {

    color: #ff6600;

}





.left-sidebar {

    position: fixed;

    left: 20px;

    top: 50%;

    transform: translateY(-50%);

    display: flex;

    flex-direction: column;

    gap: 15px;

}

.left-sidebar a {

    text-decoration: none;

    font-size: 1.5rem;

    color: white;

    transition: 0.3s;

}

.left-sidebar a:hover {

    color: #ff6600;

}







.right-sidebar {

    position: fixed;

    right: 20px;

    top: 50%;

    transform: translateY(-50%);

    display: flex;

    flex-direction: column;

    gap: 15px;

}

.right-sidebar a {

    text-decoration: none;

    font-size: 1.5rem;

    color: white;

    transition: 0.3s;

}

.right-sidebar a:hover {

    color: #ff6600;

}





.buttons {

    margin-top: 20px;

}

.buttons a {

    text-decoration: none;

    padding: 10px 20px;

    border-radius: 5px;

    font-weight: bold;

    margin-right: 10px;

    display: inline-block;

}

.btn-hire {

    background: #000;

    color: #fff;

}

.btn-hire a:hover{

    color: darkred;

}

.btn-exp {

    background: #ff6600;

    color: #fff;


}
